@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Nunito", sans-serif;
}

img {
    max-width:100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EFF3F4;
    padding: 30px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: #d12424;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navBar ul li {
    position: relative;
    float: left;
    display: flex;
    justify-content: space-between;
}

.menu .navBar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111419;
    display: flex;
    justify-content: space-between;
}

.menu .navBar ul li a:hover {
    color: #d12424;
}

.products {
    padding: 0 0 50px 0 ;
    text-align: center;
    justify-content: space-between;
}

h2 {
    font-size: 40px;
    color:#111419;
    text-align: center;
}

.listProduct {
    list-style: none;
    padding: 0;
}

.listProduct li {
    display: inline-block;
    margin: 0 10px;
}

.listProduct a {
    text-decoration: none;
    color: #333;
}

/*Vamos a mostrar los productos */
.boxContainer { /*Contenedor de los productos*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    
}

.box { /*Cada producto*/
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease-in-out; 
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.productTxt h3{
    font-size: 14px;
    color: #d12424;
    margin-bottom: 5px;
}

.productTxt p {
    font-size: 18px;
    color: #111419;
    margin-bottom: 10px;
}

.precio {
    font-size: 16px;
    color: #111419;
    font-weight:bold;
    margin-bottom: 10px;
}

.btn3 {
    padding: 10px 15px;
    background-color: #d12424;
    border: none;
    color: #111419;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.btn3:hover {
    background-color: #d12424;
}

/*Arrancamos con el footer*/
.footer {
    background-color: #770707;
    padding: 100px 0;
}

.footerContent {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a {
    color: #aeafaf;
    display: block;
    margin-bottom: 10px;
}


.link a:hover {
    color: #dfb1b1;
} /*Footer terminado*/

/*Carrito*/
.carrito.lateral {
    position: fixed;
    top: 20%;
    right: 0;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px 0 0 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.carrito.lateral .carrito-container {
    max-height: 400px;
    overflow-y: auto;
}

.carrito-footer {
    margin-top: 20px;
}

.carrito .btn3 {
    background-color: #d12424;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

/* Efecto para ocultar el carrito */
.carrito.lateral.oculto {
    transform: translateX(100%);
}

/* Botón flotante para mostrar/ocultar carrito */
#toggle-carrito {
    position: fixed;
    top: 50%;
    right: 310px;
    background-color: #d12424;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1100;
}

.btnConfirmar {
    padding: 10px 15px;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}
.btnConfirmar:hover {
    background-color: #218838;
}

@media (max-width:500px) {
    
    .header {
        flex-direction: column;
        gap: 30px;
    }

    .menu {
        padding: 20px;
    }
    
    .logo {
        font-size: 25px;
        color: #d12424;
        text-transform: uppercase;
        font-weight: 800;
    }
    
    .menu .navBar ul li {
        position: relative;
        float: left;
        display: flex;
        justify-content: space-between;
    }
    
    .menu .navBar ul li a {
        font-size: 18px;
        padding: 20px;
        color: #111419;
        display: flex;
        justify-content: space-between;
    }
    
    .menu .navBar ul li a:hover {
        color: #d12424;
    }

    
    .footer {
        padding: 30px;
    }

    .footerContent {
        flex-direction: column;
        text-align: center;
    }

}